@model PTCG_Tracker.Models.Ability.AbilityDetails

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Ability/Details/{id}
    </div>
    <div class="card-body">
        <h4 class="card-title">Ability Details</h4>
        <p class="card-text">View the details of a specific "Ability".</p>
    </div>
</div>

<div>
    <h4>AbilityDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AbilityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
