@model PTCG_Tracker.Models.Collection.CollectionDetails

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="card text-white bg-dark mb-3 d-inline-block">
    <div class="card-header">
        Collection/Details/{id}
    </div>
    <div class="card-body">
        <h4 class="card-title">Collection Detail</h4>
        <p class="card-text">View the details of a specific "Collection".</p>
    </div>
</div>

<div>
    <h4>CollectionDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Public)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Public)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardsInCollection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardsInCollection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardsUntilComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardsUntilComplete)
        </dd>

            <dt>
                List of Cards in this Collection
            </dt>
        @foreach (var item in Model.Cards)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.Name)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CollectionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
