@model PTCG_Tracker.Models.Resistance.ResistanceDetails

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Resistance/Details/{id}
    </div>
    <div class="card-body">
        <h4 class="card-title">Detail Resistance</h4>
        <p class="card-text">View the details of a specific "Resistance".</p>
    </div>
</div>


<div>
    <h4>ResistanceDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResistanceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
