@model PTCG_Tracker.Models.Weakness.WeaknessListItem

@{
    ViewBag.Title = "Delete";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Weakness/Delete/{id}
    </div>
    <div class="card-body">
        <h4 class="card-title">Delete Weakness</h4>
        <p class="card-text">Delete a "Weakness" from your database.</p>
    </div>
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WeaknessDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
