
@model PTCG_Tracker.Models.Card.CardCollection

@{
    ViewBag.Title = "AddCard";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="card text-white bg-dark mb-3 d-inline-block">
    <div class="card-header">
        Card/AddCard
    </div>
    <div class="card-body">
        <h4 class="card-title">Add Card</h4>
        <p class="card-text">Add this "Card" to an existing "Collection".</p>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CardCollection</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CardId)

        <div class="form-group">
            @Html.LabelFor(model => model.CollectionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CollectionId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CollectionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
