@model PTCG_Tracker.Models.Card.CardDetails

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Card/Details/{id}
    </div>
    <div class="card-body">
        <h4 class="card-title">Card Details</h4>
        <p class="card-text">View all the details of a "Card", even a picture(if available).</p>
    </div>
</div>

<div>
    <hr />

    <div class="card">
        <a href="@Model.ImageURL">@Model.ImageURL</a>

        <div class="card-body">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImageURL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImageURL)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SuperType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SuperType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SubType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SubType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RetreatCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RetreatCost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SetNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SetNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Series)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Series)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Set)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Set)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WeaknessId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WeaknessId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ResistanceId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ResistanceId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AbilityId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AbilityId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Artist)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Artist)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rarity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rarity)
                </dd>

            </dl>
        </div>
    </div>



</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CardId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
