 @model IEnumerable<PTCG_Tracker.Models.Card.CardListItem>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Card/Index
    </div>
    <div class="card-body">
        <h4 class="card-title">Card List</h4>
        <p class="card-text">View all the cards you have added to the database.</p>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>SuperType: @Html.TextBox("Search") <br>
    <input type="submit" value="Filter" /></p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rarity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuperType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Set)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CardId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rarity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SuperType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Series)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Set)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CardId }) |
        @Html.ActionLink("Details", "Details", new { id = item.CardId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CardId }) |
        @Html.ActionLink("Add Card to Collection", "AddCard", new { id = item.CardId }) |
        @Html.ActionLink("Add an Attack", "AddAttack", new { id = item.CardId })
    </td>
</tr>
}

</table>
