@model IEnumerable<PTCG_Tracker.Models.Attack.AttackListItem>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Attack/Index
    </div>
    <div class="card-body">
        <h4 class="card-title">Attack List</h4>
        <p class="card-text">View all the "Attacks" you have added to the database.</p>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Damage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AttackId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AttackId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AttackId })
            </td>
        </tr>
    }

</table>
